* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bulbOn,
#bulbOff {
    width: clamp(80px, 30vmin, 200px);
    height: auto;
    cursor: pointer;
    display: block;
}

#bulbOff {
    display: none;
}